<section class="py-5">
  <div class="container">
    <div class="row gx-2 bg-light p-3 rounded-4">
      <div class="col-md-3">
        <div class="card">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of imgProduct">
              <ng-template carouselSlide>
                <lib-ngx-image-zoom
                  class="width"
                  zoomMode="click"
                  [thumbImage]="slide"
                  [fullImage]="slide"
                  [magnification]="1"
                ></lib-ngx-image-zoom>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
      <div class="col-md-9 d-flex align-items-center justify-content-center">
        <div>
          <h3>{{ productDetails.title }}</h3>
          <h4 class="text-muted h6 py-3">{{ productDetails.description }}</h4>
          <h6>{{ productDetails.category?.name }}</h6>
          <div class="d-flex justify-content-between">
            <span>{{ productDetails.price | currency : "EGP" }}</span>
            <span
              >{{ productDetails.ratingsAverage }}
              <i class="text-rating fa-solid fa-star"></i
            ></span>
          </div>
          <button
            (click)="addProduct(productDetails.id)"
            class="w-100 main-btn my-3"
          >
            +Add To Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
